<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>

<div *ngIf=" !user.isLogged ">
  <button (click)="onClickLoginWithGoogle()">Google Login</button>
  <button (click)="onClickLoginWithFacebook()">Facebook Login</button>
</div>
<div *ngIf=" user.isLogged ">
  You are logged in as <b>{{ user.auth.currentUser.displayName }}</b>
  <button (click)=" user.logout() ">Loggout</button>
</div>


<div>Am I admin? {{ user.isAdmin }}</div>


<hr>
<h2>Forum Category</h2>

Create a forum category:
<input name="category_id" [(ngModel)]="category_id" placeholder="Category ID">
<input name="category_name" [(ngModel)]="category_name" placeholder="Category Name">
<button type="button" (click)="onClickCreateCategory()">Submit</button>

<div *ngIf=" categories.length ">
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>EDIT</th>
      <th>DELETE</th>
    </tr>
    <tr *ngFor=" let c of categories; let i = index">
      <td>{{ c.id }}</td>
      <td><input type="text" name="name" value="{{ c.name }}" [(ngModel)]="c.name"></td>
      <td><input type="text" name="desc" value="{{ c.description }}" [(ngModel)]="c.description"></td>
      <td><button (click)="onClickCategoryEdit( c.id )">EDIT</button></td>
      <td><button (click)="onClickCategoryDelete( c.id )">DELETE</button></td>
    </tr>
  </table>
</div>

<hr>
<h2>Forum Posts</h2>
<div>
  <span *ngFor=" let c of categories; let i = index; ">
    <input type="checkbox" name="categories" [(ngModel)]=" postForm.categories[ c.id ] "> {{ c.name }}
  </span>
</div>
<div>Subject: <input name="subject" [(ngModel)]=" postForm.subject "></div>
<div><textarea name="content" [(ngModel)]=" postForm.content " cols="40" rows="4" placeholder="Please input content"></textarea></div>
<div>File/Photo Upload: <input type="file"></div>
<div>
  Options:
  <input type="checkbox" [(ngModel)]=" postForm.sticky_forum "> Sticky on selected forums.
  <input type="checkbox" [(ngModel)]=" postForm.sticky_all_forum "> Sticky on all forums.
</div>
<div>
  <button (click)="onSubmitPostForm()">Submit Post</button>
</div>

{{ postForm | json }}

<hr>
<h2>Posts</h2>